body {
    background-color: #83f28f;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;;
    /* background-color: #83f28f; */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #895737;
    padding: 1rem 2rem;
    color: white;
    position: sticky;
    
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #895737;
}

.nav-links{
    display: flex;
    list-style : none;
    background-color: #895737;
}

.nav-links li {
    margin-left: 20px;
    background-color: #895737;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    background-color: #895737;
}

/* Hover Effect on navbar link */

.nav-links a:hover{
    color : black;
}

@media (max-width: 600px){
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links li {
        margin : 5px 10px;
    }
}

.hero-text p{
    padding: 15px;
    text-align: justify;
}

.carousel {
    /* margin: 100px auto; */
    width: 100%;
    display: flex;
    overflow: hidden;
}

.carousel::-webkit-scrollbar{
    display: none;
}

.group{
    display: flex;
    width: 100%;
    animation: spin 10s linear infinite;
}
.slide {
    flex: 0 0 5em;
    height: 5em;
    font-size: 4rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {transform: translateX(0);}
    to {transform: translateX(-200%);}
}