*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', 'Lucida Handwriting', cursive;;
    background-color: #83f28f;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #895737;
    padding: 1rem 2rem;
    color: white;
    position: sticky;
    
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #895737;
}

.nav-links{
    display: flex;
    list-style : none;
    background-color: #895737;
}

.nav-links li {
    margin-left: 20px;
    background-color: #895737;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
    background-color: #895737;
}

/* Hover Effect on navbar link */

.nav-links a:hover{
    color : black;
}

@media (max-width: 60px){
    .navbar {
        flex-direction: column;
        gap: 10px;
    }

    .nav-links li {
        margin : 5px 10px;
    }
}

.hero-text p{
    padding: 15px;
    text-align: justify;
}

.carousel {
    display: flex;
    overflow-x:auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 100%;
    height: 400px;

}

.slide {
    flex: 0 0 100%;
    scroll-snap-type: center;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel::-webkit-scrollbar{
    display: none;
}